body{
    background: white;
    width: 75%;
    margin: auto;
}

/*
.tagline-bg img {
    object-fit: cover;
} */

.nav {
    align-items: center;
}

.card-img-overlay {
    padding: 5rem 1rem;
}

.big-h1 {
    font-size: 130px;
}

.big-h2 {
    font-size: 80px;
}

.borde-foto {
    border: 0;
}
.image{
    width: 25%;
    height: 25%;
}
.form-contact{
    width: 60%;
    height: 20%;
    background-color: rgb(235, 231, 231);
    padding: 5%;
    margin-left: 20%;
}