<div class="m-5">
    <div class="mx-5">
      <h2> Contact</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel dolor id metus dictum congue ut eu libero. Donec nec est ligula. Sed consequat nunc non volutpat venenatis. Phasellus augue lorem, volutpat sed tempor et, tempor sit amet felis.</p>
    </div> 
    <div class="d-flex justify-content-center">
        <div class="form-contact shadow rounded p-3 mb-3 text-end">
            <div class="d-flex mb-3">
                <label for="exampleInputEmail1" class="form-label fw-bold contact-label me-4">Your E-mail</label>
                <input type="email" class="form-control inputs" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your e-mail"/>
            </div>
            <div class="d-flex mb-3">
                <label for="exampleFormControlTextarea1" class="form-label fw-bold contact-label me-4">Your Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>