<div class="m-5">
    <div class="mx-5">
      <h2> Contact</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel dolor id metus dictum congue ut eu libero. Donec nec est ligula. Sed consequat nunc non volutpat venenatis. Phasellus augue lorem, volutpat sed tempor et, tempor sit amet felis.</p>
    </div> 
    <div class="form-contact shadow p-3 mb-5 bg-body rounded">
        <div class=" d-flex mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold">Your E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class=" d-flex mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Your Message</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>